.form-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f9fa;

    .Error-Backend {
        background-color: rgba(255, 0, 0, 0.1);
        color: #d9534f;
        padding: 10px;
        margin: 10px 0;
        font-weight: bold;
        border-radius: 5px;
        text-align: center;
    }


    .form-register {
        background-color: rgb(172, 166, 166);
        width: 30%;
        box-shadow: 0 0 5px rgba($color: #000000, $alpha: 0.5);
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 20px;
        gap: 15px;

        .error-message {
            background-color: rgba(255, 0, 0, 0.1);
            color: #d9534f;
            padding: 10px;
            margin: 10px 0;
            font-weight: bold;
            border-radius: 5px;
            text-align: center;
        }


        .title-register {
            color: #333;
            text-align: center;
            margin-top: 5%;
        }

        .input-container {
            width: 100%;
            position: relative;

            .avatar-selection {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                gap: 10px;
                padding: 10px;
                background: #f9f9f9;
                border-radius: 10px;

                .avatar {
                    width: 60px;
                    height: 60px;
                    border-radius: 50%;
                    cursor: pointer;

                    &.selected {
                        border: 3px solid #4CAF50;
                    }
                }
            }

            .inputs {
                width: 100%;
                height: 40px;
                border: 2px solid #999;
                border-radius: 5px;
                color: rgb(0, 0, 0);
                padding: 0 10px;
                margin-bottom: 10px;
            }

            label {
                color: #646161;
                display: block;
            }

            .required {
                color: red;
                margin-left: 5px;
            }

            .error {
                color: red;
                font-size: 12px;
                margin-top: 5px;
            }
        }

        .button-container {
            margin-bottom: 10px;

            button {
                width: 100%;
                height: 40px;
                font-size: 1.2rem;
                color: white;
                background-color: #010031;
                border-radius: 10px;
                outline: none;
            }
        }

        .cancel-link {
            text-align: center;
            margin-bottom: 15px;
            font-size: 1rem;
            color: #646161;

            p {
                display: inline-block;
                padding: 10px 15px;
                border-radius: 8px;
            }

            a {
                color: #0b2e53;
                font-weight: bold;
                text-decoration: none;
            }
        }
    }
}